
##############
# Package Files #
*.class
*.jar
*.war
.idea
*.versionsBackup


##############[.iml]
#ActiveMQ/ActiveMQ.iml
#activity/activity.iml
#base/base.iml
#Freemarker/Freemarker.iml
#hibernate/hibernate.iml
#jdbc/jdbc.iml
#redis/redis.iml
#shiro/shiro.iml
#springdata/springdata.iml
#springmvc/springmvc.iml



############## [target]
ActiveMQ/target/generated-sources/
ActiveMQ/target/generated-test-sources/
Freemarker/target/generated-sources/
Freemarker/target/generated-test-sources/
activity/target/generated-sources/
activity/target/generated-test-sources/
base/target/generated-sources/
hibernate/target/generated-sources/
jdbc/src/test/resources/memory/
jdbc/target/generated-sources/
jdbc/target/generated-test-sources/
redis/target/generated-sources/
redis/target/generated-test-sources/
shiro/target/generated-sources/
shiro/target/generated-test-sources/
springdata/target/generated-sources/
springdata/target/generated-test-sources/
springmvc/target/generated-sources/
springmvc/target/generated-test-sources/
base/target/generated-test-sources/
