#/.idea/compiler.xml 项目编译JDK级别
#由pom.xml中的maven-compiler-plugin 插件指定
# <plugin>
#     <groupId>org.apache.maven.plugins</groupId>
#     <artifactId>maven-compiler-plugin</artifactId>
#     <version>3.3</version>
#     <configuration>
#         <source>1.8</source>
#         <target>1.8</target>
#         <encoding>utf-8</encoding>
#     </configuration>
# </plugin>

#编译目录
ActiveMQ/target/generated-sources/
ActiveMQ/target/generated-test-sources/
Freemarker/target/generated-sources/
Freemarker/target/generated-test-sources/
activity/target/generated-sources/
activity/target/generated-test-sources/
base/target/generated-sources/
hibernate/target/generated-sources/
jdbc/target/generated-sources/
jdbc/target/generated-test-sources/
redis/target/generated-sources/
redis/target/generated-test-sources/
shiro/target/generated-sources/
shiro/target/generated-test-sources/
springdata/target/generated-sources/
springdata/target/generated-test-sources/
springmvc/target/generated-sources/
springmvc/target/generated-test-sources/


# Package Files #
*.class
*.jar
*.war
*.ear

#项目目录
/.project
/.idea
