<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<!-- Spring核心 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 编码处理 -->
	<apche.dbutils.test.query.filter>
		<apche.dbutils.test.query.filter-name>encodingFilter</apche.dbutils.test.query.filter-name>
		<apche.dbutils.test.query.filter-class>org.springframework.web.apche.dbutils.test.query.filter.CharacterEncodingFilter</apche.dbutils.test.query.filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</apche.dbutils.test.query.filter>
	<apche.dbutils.test.query.filter-mapping>
		<apche.dbutils.test.query.filter-name>encodingFilter</apche.dbutils.test.query.filter-name>
		<url-pattern>/*</url-pattern>
	</apche.dbutils.test.query.filter-mapping>
	<!-- 由Spring借助Redis接管HttpSession，实现分布式共享Session
	<apche.dbutils.test.query.filter>
		<apche.dbutils.test.query.filter-name>springSessionRepositoryFilter</apche.dbutils.test.query.filter-name>
		<apche.dbutils.test.query.filter-class>org.springframework.web.apche.dbutils.test.query.filter.DelegatingFilterProxy</apche.dbutils.test.query.filter-class>
	</apche.dbutils.test.query.filter>
	<apche.dbutils.test.query.filter-mapping>
		<apche.dbutils.test.query.filter-name>springSessionRepositoryFilter</apche.dbutils.test.query.filter-name>
		<url-pattern>/*</url-pattern>
	</apche.dbutils.test.query.filter-mapping>
	 -->
	<!-- 验证码 -->
	<apche.dbutils.test.query.filter>
		<apche.dbutils.test.query.filter-name>captchaFilter</apche.dbutils.test.query.filter-name>
		<apche.dbutils.test.query.filter-class>com.zl.core.springmvc.captcha.CaptchaFilter</apche.dbutils.test.query.filter-class>
	</apche.dbutils.test.query.filter>
	<apche.dbutils.test.query.filter-mapping>
		<apche.dbutils.test.query.filter-name>captchaFilter</apche.dbutils.test.query.filter-name>
		<url-pattern>/captcha</url-pattern>
	</apche.dbutils.test.query.filter-mapping>
	<!-- 单点登录 -->
	<apche.dbutils.test.query.filter>
		<apche.dbutils.test.query.filter-name>ssoFilter</apche.dbutils.test.query.filter-name>
		<apche.dbutils.test.query.filter-class>smart.sso.client.SsoFilter</apche.dbutils.test.query.filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/login,/logout,/rpc,/swagger-ui.html,/webjars/**,/swagger-resources/**,/v2/api-docs</param-value>
		</init-param>
	</apche.dbutils.test.query.filter>
	<apche.dbutils.test.query.filter-mapping>
		<apche.dbutils.test.query.filter-name>ssoFilter</apche.dbutils.test.query.filter-name>
		<url-pattern>/*</url-pattern>
	</apche.dbutils.test.query.filter-mapping>
	<!-- 权限控制(选配) -->
	<apche.dbutils.test.query.filter>
		<apche.dbutils.test.query.filter-name>permissionFilter</apche.dbutils.test.query.filter-name>
		<apche.dbutils.test.query.filter-class>smart.sso.client.PermissionFilter</apche.dbutils.test.query.filter-class>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/login,/logout,/rpc,/swagger-ui.html,/webjars/**,/swagger-resources/**,/v2/api-docs</param-value>
		</init-param>
	</apche.dbutils.test.query.filter>
	<apche.dbutils.test.query.filter-mapping>
		<apche.dbutils.test.query.filter-name>permissionFilter</apche.dbutils.test.query.filter-name>
		<url-pattern>/*</url-pattern>
	</apche.dbutils.test.query.filter-mapping>
	<!-- SpringMVC核心 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 身份认证授权RPC服务 -->
	<servlet>
		<servlet-name>rpc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-rpc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rpc</servlet-name>
		<url-pattern>/rpc/*</url-pattern>
	</servlet-mapping>
	<!-- 应用初始化参数 -->
	<servlet>
		<servlet-name>configServlet</servlet-name>
		<servlet-class>smart.sso.server.common.ConfigServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
</web-app>