*{margin: 0;padding: 0}

.title {
    width: 45px;
    height: 10px;
    margin: 0 auto;
    font-size: 20px;
    color: #f3f9f9;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}
.bs{width: 100px;margin: 0 auto;}
.bs span{display: inline-block;width: 60px;background-color: #708098;color: #fff;height: 30px;line-height: 30px;text-align: center;margin-left: 33px;border-radius: 5px;cursor: pointer; font-family: '微软雅黑';}